@page "/about"

@inject IStringLocalizer<App> l10n

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs=12 xxl=12>
            <MudContainer Fixed="true">
                <div Class="pa-4" Style="height: 12rem; align-content:center">
                    <img src="img/FateExplorer_Blood_Logo.svg" style="width:100%;max-width:100%;max-height:100%;vertical-align: middle;" alt="TODO" />
                </div>
            </MudContainer>
        </MudItem>

        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px">
                <img src="img/fe_magic.jpg" style="height:100%" alt="@l10n["imgAltSorcerer"]"/>
            </div>
        </MudItem>
        <MudItem xs=12 sm=4 md=6>
            <MudPaper Elevation="1" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutWhatis"]
                </MudText>
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutLimitations"]
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_skeletons.jpg" style="height:100%" alt="@l10n["imgAltSkeletons"]" />
            </div>
        </MudItem>

        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_bat.jpg" style="height:100%" alt="@l10n["imgAltBat"]" />
            </div>
        </MudItem>
        <MudItem xs=12 sm=4 md=6>
            <MudPaper Elevation="1" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h5" GutterBottom=true>
                    @l10n["txtAboutTitleMentions"]
                </MudText>
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutHonourableMentions"]
                </MudText>
                <MudText Typo="Typo.body1">
                    @string.Format(l10n["txtAboutMoreMentions"], 
                        l10n["txtAboutMention0"], l10n["txtAboutMention1"], l10n["txtAboutMention2"], 
                        l10n["txtAboutMention3"], l10n["txtAboutMention4"], l10n["txtAboutMention5"])
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_barbarian.jpg" style="height:100%" alt="@l10n["imgAltBarbarian"]" />
            </div>
        </MudItem>

    </MudGrid>
</MudContainer>



@code {

}
