@page "/about"
@using System.Reflection

@inject IStringLocalizer<App> l10n

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs=12 xxl=12>
            <MudContainer Fixed="true">
                <div Class="pa-4" Style="height: 12rem; align-content:center">
                    <img src="img/FateExplorer_Blood_Logo.svg" style="width:100%;max-width:100%;max-height:100%;vertical-align: middle;" alt="TODO" />
                </div>
            </MudContainer>
        </MudItem>

        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_magic.webp" style="height:100%" alt="@l10n["imgAltSorcerer"]"/>
            </div>
        </MudItem>
        <MudItem xs=12 sm=4 md=6>
            <MudPaper Elevation="1" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutWhatis"]
                </MudText>
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutLimitations"]
                </MudText>
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @string.Format(l10n["txtAboutVersion"], Author, Version, Codename)
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_skeletons.webp" style="height:100%" alt="@l10n["imgAltSkeletons"]" />
            </div>
        </MudItem>

        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_bat.webp" style="height:100%" alt="@l10n["imgAltBat"]" />
            </div>
        </MudItem>
        <MudItem xs=12 sm=4 md=6>
            <MudPaper Elevation="1" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h5" GutterBottom=true>
                    @l10n["txtAboutTitleMentions"]
                </MudText>
                <MudText Typo="Typo.body1" GutterBottom=true>
                    @l10n["txtAboutHonourableMentions"]
                </MudText>
                <MudText Typo="Typo.body1">
                    @((MarkupString)string.Format(l10n["txtAboutMoreMentions"], 
                        string.Format("<a href=\"https://github.com/elyukai\">{0}</a>", l10n["txtAboutMention0"]), 
                        string.Format("<a href=\"https://github.com/seiyria/gameicons-font/\">{0}</a>", l10n["txtAboutMention1"]), 
                        string.Format("<a href=\"https://game-icons.net/\">{0}</a>", l10n["txtAboutMention2"]), 
                        string.Format("<a href=\"https://pixabay.com/users/parker_west-7094318/\">{0}</a>", l10n["txtAboutMention3"]), 
                        string.Format("<a href=\"https://www.wiki-aventurica.de/\">{0}</a>", l10n["txtAboutMention4"]), 
                        string.Format("<a href=\"https://ulisses-spiele.de/\">{0}</a>", l10n["txtAboutMention5"])))
                </MudText>
                <MudText Typo="Typo.body2">
                    Das schwarze Auge ist eine eingetragene Marke der <a href="https://ulisses-spiele.de/">Ulisses Spiele GmbH</a>.
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs=12 sm=4 md=3>
            <div Class="pa-4" Style="height: 200px; align-content:center">
                <img src="img/fe_barbarian.webp" style="height:100%" alt="@l10n["imgAltBarbarian"]" />
            </div>
        </MudItem>

    </MudGrid>
</MudContainer>



@code {
    string Version = Assembly.GetExecutingAssembly().GetName().Version.ToString();
    string Author = "Jan Seifert"; // TODO
    string Codename = "Aves Bootheel";// TODO
}