@page "/Fight"

@using FateExplorer.Components
@using FateExplorer.RollLogic
@using FateExplorer.ViewModel

@inject IStringLocalizer<App> l10n
@inject ISnackbar Snackbar
@inject AppSettings Config
@inject ITheHeroViMo Hero
@inject IRollHandlerViMo RollHandler


@if (Hero.HasBorn)
{
<MudContainer Class="mt-16 px-8" MaxWidth=MaxWidth.False>
    <MudGrid>
        <MudItem xs=12 sm=6 md=4>
            <MudPaper Elevation=0 Outlined=true>
            <MudList Clickable=true>
                <MudListItem Icon=@Icons.Material.Sharp.PersonOff DisableRipple=true>
                    <div class="d-flex align-center" >
                        <div>
                        <MudText Typo=Typo.body1 GutterBottom=false>@l10n[ResourceId.DodgeLabelId]</MudText>
                        <MudText Typo=Typo.body2 GutterBottom=false>
                            @l10n["abbrDodge"] @Hero.GetDodge().EffectiveValue
                        </MudText>
                        </div>
                    <MudSpacer/>
                    @*<MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Edit
                        aria-label=@(l10n["lblEdit"] + " " + @l10n[ResourceId.DodgeLabelId]) />
                    <MudSpacer/>*@
                    <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Casino
                        OnClick=@(() => OnDodgeCheck(Hero.GetDodge()))
                        Title=@l10n["lblDoRoll"]
                        aria-label=@(l10n["lblRoll"] + " " + @l10n[ResourceId.DodgeLabelId]) />
                    @*<MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Visibility
                        aria-label=@(l10n["lblView"] + " " + @l10n[ResourceId.DodgeLabelId]) />*@
                    </div>
                </MudListItem>

                <MudListItem Icon=@Icons.Material.Sharp.Sort DisableRipple=true>
                    <div class="d-flex align-center" >
                        <div>
                        <MudText Typo=Typo.body1 GutterBottom=false>@l10n[ResourceId.IniLabelId]</MudText>
                        <MudText Typo=Typo.body2 GutterBottom=false>
                            @l10n["abbrInitiative"] @Hero.GetInitiative().EffectiveValue
                        </MudText>
                        </div>
                    <MudSpacer/>
                    @*<MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Edit
                        aria-label=@(l10n["lblEdit"] + " " + @l10n[ResourceId.DodgeLabelId]) />
                    <MudSpacer/>*@
                    <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Casino
                        OnClick=@(() => OnInitiativeCheck(Hero.GetInitiative()))
                        Title=@l10n["lblDoRoll"]
                        aria-label=@(l10n["lblDoRoll"] + " " + @l10n[ResourceId.IniLabelId]) />
                    @*<MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Visibility
                        aria-label=@(l10n["lblView"] + " " + @l10n[ResourceId.DodgeLabelId]) />*@
                    </div>
                </MudListItem>
            </MudList>

            <MudDivider />

            <MudList Clickable=true>
                @foreach (var w in Hero.Weapons)
                {
                @if (w.IsImprovised && !Config.ShowImprovisedWeapons) continue;

                <MudListItem DisableRipple=true> 
                    <div class="d-flex align-center" >
                        <div>
                        <MudText Typo=Typo.body1 GutterBottom=false>@w.Name</MudText>
                        <MudText Typo=Typo.body2 GutterBottom=false>
                            @BaseWeaponProps(w)
                        </MudText>
                        </div>
                        <MudSpacer/>
                        <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.FrontHand
                            OnClick=@(() => GrabWeapon(w, true))
                            Title=@l10n["lblPickItemWithDominantHand"]
                            aria-label=@l10n["lblPickItemWithDominantHand"] />
                        <MudIconButton Color=Color.Dark Icon="fe fe-BackHandLeft"
                            OnClick=@(() => GrabWeapon(w, false))
                            Disabled=w.IsTwohanded
                            Title=@l10n["lblPickItemWithNondominantHand"]
                            aria-label=@l10n["lblPickItemWithNondominantHand"] />
                    </div>
                </MudListItem>
                }
            </MudList>
            </MudPaper>
        </MudItem>


        <MudItem  xs=12 sm=6 md=8>
            <MudPaper Class="pa-2">
                <MudGrid>
                    <MudItem xs=6>
                        <MudCard Class="mb-4">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo=Typo.body2 GutterBottom=false Color=Color.Secondary>@l10n["lblDominantHand"]</MudText>
                                    <MudText Typo=Typo.body1 GutterBottom=false>@Hero.Hands.MainWeapon.Name</MudText>
                                    <MudText Typo=Typo.body2 GutterBottom=false>@CarriedWeaponProps(Hero.Hands.MainWeapon, HandsViMo.Hand.Main)</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    @if (!Hero.Hands.IsBare(HandsViMo.Hand.Main))
                                    {
                                    <MudIconButton Icon=@Icons.Material.Sharp.Close Color=Color.Default  
                                        OnClick=@(() => StashWeapon(true))/>
                                    }
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardActions>
                                <MudIconButton Color=Color.Dark Icon="fe fe-Sword" 
                                    OnClick=@(() => OnAttackCheck(Hero.Hands.MainWeapon, true))
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Main)
                                    Title=@(l10n["lblRoll"] + " " + @l10n["lblAttack"])
                                    aria-label=@(l10n["lblRoll"] + " " + @l10n["lblAttack"]) />
                                @if (Hero.Hands.MainWeapon.CanParry)
                                {
                                <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Shield
                                    OnClick=@(() => OnParryCheck(Hero.Hands.MainWeapon, true))
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Main)
                                    Title=@(l10n["lblRoll"] + " " + @l10n["lblParry"])
                                    aria-label=@(l10n["lblRoll"] + " " + @l10n["lblParry"]) />
                                }
@*                                <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Visibility
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Main)
                                    Title=@(l10n["lblView"]) aria-label=@(l10n["lblView"]) />*@
                            </MudCardActions>
                        </MudCard>
                    </MudItem>

                    <MudItem xs=6>
                        <MudCard Class="mb-4">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo=Typo.body2 GutterBottom=false Color=Color.Secondary>@l10n["lblNondominantHand"]</MudText>
                                    <MudText Typo=Typo.body1 GutterBottom=false>@Hero.Hands.OffWeapon.Name</MudText>
                                    <MudText Typo=Typo.body2 GutterBottom=false>@CarriedWeaponProps(Hero.Hands.OffWeapon, HandsViMo.Hand.Off)</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    @if (!Hero.Hands.IsBare(HandsViMo.Hand.Off))
                                    {
                                    <MudIconButton Icon=@Icons.Material.Sharp.Close Color=Color.Default 
                                        OnClick=@(() => StashWeapon(false))/>
                                    }
                                </CardHeaderActions>
                             </MudCardHeader>
                            <MudCardActions>
                                <MudIconButton Color=Color.Dark Icon="fe fe-Sword"
                                    OnClick=@(() => OnAttackCheck(Hero.Hands.OffWeapon, false))
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Off)
                                    aria-label=@(l10n["lblRoll"] + " " + @l10n["Attack"]) />
                                @if (Hero.Hands.OffWeapon.CanParry)
                                {
                                <MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Shield
                                    OnClick=@(() => OnParryCheck(Hero.Hands.OffWeapon, false))
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Off)
                                    aria-label=@(l10n["lblRoll"] + " " + @l10n["Parry"]) />
                                }
                                @*<MudIconButton Color=Color.Dark Icon=@Icons.Material.Sharp.Visibility
                                    Disabled=Hero.Hands.IsDisabled(HandsViMo.Hand.Off)
                                    Title=@(l10n["lblView"]) aria-label=@(l10n["lblView"]) />*@
                            </MudCardActions>                        
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudPaper>


            <MudPaper Outlined=false Elevation=0 Class="pa-2 d-flex justify-space-around">
                <MudText Typo="Typo.h5" GutterBottom=true>@l10n["Roll Results"]</MudText>
                <MudSlider T=int Value=ModifyValue ValueChanged=@((int i) => OnModChanged(i)) 
                    Min=-10 Max=10 Step=1 Color=Color.Primary Class="mx-8" TickMarks=true Size=Size.Small Variant=Variant.Filled>
                    @l10n["lblModifier"] @ModifyValue @(ModifyValue >= 0 ? "Bonus" : "Malus")
                </MudSlider>
            </MudPaper>
            <MudPaper Class="pa-2 d-flex flex-column" Style="height:100%;" Outlined=true>
                @if (RollCheckResults is not null && RollCheckResults.Count > 0)
                {
                    @foreach(var r in RollCheckResults.Reverse())
                    {
                        <RollCheckCard Result=@r AvatarIcon=@CheckIcons /> @* ShowValueLabel=@l10n["lblAbility"] *@
                    }
                }
                else
                {
                    <MudText Typo=Typo.h5 Align=Align.Center Style=@($"color:{Theme.Palette.TextDisabled}")>
                        @l10n["msgCallToAction4Rolls"].ToString().ToUpper()
                    </MudText>                
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
}
else
{
    <SkeletonNoCharacterData OnCharacterHasLoaded=LoadHeroData />
}


@code {
    private MudTheme Theme = new MudTheme(); // Grant access to the theme

    private readonly string[] CheckIcons = new string[4] { 
        "fe fe-Botch",
        Icons.Filled.Elderly, 
        Icons.Filled.Accessibility, 
        "fe fe-Success"};

    private RollCheckResultViMo ActiveCheck;
    private EueuqMax<RollCheckResultViMo> RollCheckResults { get; set; }
    private int ModifyValue { get; set; }


    /// <summary>
    /// User puts a weapon into a character's hand'
    /// </summary>
    /// <param name="weapon">The weapon</param>
    /// <param name="MainHand">The designated hand</param>
    private void GrabWeapon(WeaponViMo weapon, bool MainHand)
    {
        if (MainHand)
            Hero.Hands.MainWeapon = weapon;
        else
            Hero.Hands.OffWeapon = weapon;
    }


    /// <summary>
    /// User empties a hand
    /// </summary>
    /// <param name="MainHand">The hand to empty</param>
    private void StashWeapon(bool MainHand) 
        => Hero.Hands.RemoveWeapon(MainHand ? HandsViMo.Hand.Main : HandsViMo.Hand.Off);


    /// <summary>
    /// 
    /// </summary>
    /// <param name="MainHand"></param>
    /// <returns></returns>
    private CombatBranch GetCombatBranch(bool MainHand)
        => MainHand ? Hero.Hands.MainWeapon.Branch : Hero.Hands.OffWeapon.Branch;


    /// <summary>
    /// User triggers a combat attack action
    /// </summary>
    /// <param name="weapon">Wielded weapon for this attack</param>
    /// <param name="MainHand">THe hand the character holds the weapon with</param>
    private void OnAttackCheck(WeaponViMo weapon, bool MainHand)
    {
        const string ActionId = "AT"; // TODO no string typed APIs!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

        try
        {
            ActiveCheck = RollHandler.OpenCombatRollCheck(ActionId, weapon, Hero.Hands);
        }
        catch (NotImplementedException)
        {
            Snackbar.Add(string.Format(l10n["msgCombatActionMissing"], ActionId, weapon.Name), Severity.Error);
            return;
        }
        ActiveCheck.CheckModifier.Set(ModifyValue);
        RollCheckResults.Enqueue(ActiveCheck);
    }

    /// <summary>
    /// User triggers a combat parry action
    /// </summary>
    /// <param name="weapon">Wielded weapon for this attack</param>
    /// <param name="MainHand">THe hand the character holds the weapon with</param>
    private void OnParryCheck(WeaponViMo weapon, bool MainHand)
    {
        const string ActionId = "PA"; // TODO no string typed APIs!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        try
        {
            ActiveCheck = RollHandler.OpenCombatRollCheck(ActionId, weapon, Hero.Hands);
        }
        catch (NotImplementedException)
        {
            Snackbar.Add(string.Format(l10n["msgCombatActionMissing"], ActionId, weapon.Name), Severity.Error);
            return;
        }
        ActiveCheck.CheckModifier.Set(ModifyValue);
        RollCheckResults.Enqueue(ActiveCheck);
    }


    /// <summary>
    /// User has the character dodge something
    /// </summary>
    /// <param name="dodge"></param>
    private void OnDodgeCheck(CharacterAttrDTO dodge)
    {
        bool Barehands = Hero.Hands.IsBare(HandsViMo.Hand.Main) && Hero.Hands.IsBare(HandsViMo.Hand.Off);
        ActiveCheck = RollHandler.OpenDodgeRollCheck(dodge.Id, dodge, !Barehands);
        ActiveCheck.CheckModifier.Set(ModifyValue);
        RollCheckResults.Enqueue(ActiveCheck);
    }


    /// <summary>
    /// Character needs to show initiative
    /// </summary>
    /// <param name="initiative"></param>
    private void OnInitiativeCheck(CharacterAttrDTO initiative)
    {
        ActiveCheck = RollHandler.OpenRollCheck(initiative.Id, initiative);
        //-ActiveCheck.CheckModifier.Set(ModifyValue);
        RollCheckResults.Enqueue(ActiveCheck);
    }


    private void OnModChanged(int NewValue)
    {
        ModifyValue = NewValue;
        ActiveCheck?.CheckModifier.Set(ModifyValue);    
    }


    private void LoadHeroData()
    {
        if (Hero.HasBorn)
        {
            // Get all weapons
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (RollCheckResults is null)
            RollCheckResults = new(4);
        LoadHeroData();
    }



    #region RENDERING /// /// ///
    
    
    private RenderFragment BaseWeaponProps(WeaponViMo Weapon)
    {
        if (Weapon.DamageBonus == 0)
            return 
                @<span>
                &#x2694; @l10n["abbrvAttack"] @(Weapon.BaseAtSkill)
                &#x1f6e1; @l10n["abbrvParry"] @(Weapon.BasePaSkill)
                &#x27B9; @(Weapon.DamageDieCount)@l10n["abbrvDie"]@Weapon.DamageDieSides
                </span>;
        else
            return
                @<span>
                &#x2694; @l10n["abbrvAttack"] @(Weapon.BaseAtSkill)
                &#x1f6e1; @l10n["abbrvParry"] @(Weapon.BasePaSkill)
                &#x27B9; @(Weapon.DamageDieCount)@l10n["abbrvDie"]@Weapon.DamageDieSides + @Weapon.DamageBonus
                </span>;
    }


    private RenderFragment CarriedWeaponProps(WeaponViMo Weapon, HandsViMo.Hand CarriedBy)
    {
        var OtherWeapon = CarriedBy == HandsViMo.Hand.Main ? Hero.Hands.OffWeapon : Hero.Hands.MainWeapon;
        if (Weapon.DamageBonus == 0)
            return 
                @<span>
                &#x2694; @l10n["abbrvAttack"] @(Weapon.AtSkill(Hero.Hands, OtherWeapon.Branch))
                &#x1f6e1; @l10n["abbrvParry"] @(Weapon.PaSkill(Hero.Hands, OtherWeapon.Branch))
                &#x27B9; @(Weapon.DamageDieCount)@l10n["abbrvDie"]@Weapon.DamageDieSides
                </span>;
        else
            return
                @<span>
                &#x2694; @l10n["abbrvAttack"] @(Weapon.AtSkill(Hero.Hands, OtherWeapon.Branch))
                &#x1f6e1; @l10n["abbrvParry"] @(Weapon.PaSkill(Hero.Hands, OtherWeapon.Branch))
                &#x27B9; @(Weapon.DamageDieCount)@l10n["abbrvDie"]@Weapon.DamageDieSides + @Weapon.DamageBonus
                </span>;
    }

    #endregion

}