@page "/servers"
@using FateExplorer.WPA.GameData;
@inject IGameDataService Data

<MudContainer Class="mt-16">
    <h1>Server</h1>

    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <h3>Abilities</h3>
            @for (int i = 0; i < Data.Abilities.Count; i++)
            {
                <p>
                    @Data.Abilities[i].Name
                </p>
            }
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <h3>CombatTechs</h3>
            @for (int i = 0; i < Data.CombatTechs.Count; i++)
            {
                <p>
                    @Data.CombatTechs[i].Name
                </p>
            }
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <h3>Skill</h3>
            <p>Total: @Data.Skills.Count</p>
            @for (int i = 0; i < Math.Min(Data.Skills.Count, 10); i++)
            {
                <p>
                    @Data.Skills[i].Name
                </p>
            }
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <h3>Arcane Skills</h3>
            <p>Total: @Data.ArcaneSkills.Count</p>
            @for (int i = 0; i < Math.Min(Data.ArcaneSkills.Count, 10); i++)
            {
                <p>
                    @Data.ArcaneSkills[i].Name
                </p>
            }
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <h3>Karma Skills</h3>
            <p>Total: @Data.KarmaSkills.Count</p>
            @for (int i = 0; i < Math.Min(Data.KarmaSkills.Count, 10); i++)
            {
                <p>
                    @Data.KarmaSkills[i].Name
                </p>
            }
        </MudItem>
    </MudGrid>
</MudContainer>




@code {

}
