@using FateExplorer.ViewModel

@inherits MudComponentBase


<div tabindex="0" @attributes="UserAttributes" class="mr-1 Chip @Classname" style="@Style" @onclick="@OnClickHandler">
    <div class="d-flex justify-center d-block pa-2 mud-theme-primary">
        <MudTooltip Text=@Ability.Name>
        <span style="user-select: none;">@Ability.ShortName</span>
        </MudTooltip>
    </div>
    <div class="d-flex justify-center d-block pa-2">
        @if (Ability.EffectiveValue != Ability.Max)
        {
            <MudBadge Content=@Ability.EffectiveValue Overlap=false Origin=Origin.TopCenter Color=Color.Warning Class="mx-6 my-4">
                <MudText Style="user-select: none;">@Ability.EffectiveValue</MudText>
            </MudBadge>
        }
        else
        {
            <MudText Style="user-select: none;">@Ability.EffectiveValue</MudText>
        }
    </div>
</div>


@code {
    [Parameter] public AbilityDTO Ability { get; set; }

}
