@using FateExplorer.Calendar
@using FateExplorer.GameData
@using FateExplorer.ViewModel

@inject IGameDataService GameData
@inject IDateOfPlay CurrentDate
@inject IStringLocalizer<App> l10n

<MudTooltip Text=@LongDate>
    <MudChip Label=true Variant=Variant.Filled Color=Color.Primary Class="ml-4 rounded-0"
             Icon=@Calendar.MonthIcon
             OnClick=@(() => IsPopupOpen = !IsPopupOpen)>
             @RenderShortDate(Calendar)
    </MudChip>
</MudTooltip>

<MudPopover Open=@IsPopupOpen Fixed=true Class="px-4 pt-4" AnchorOrigin=Origin.BottomCenter TransformOrigin=Origin.TopCenter>
    <div class="d-flex flex-row">
        <MudSpacer/><MudIconButton Icon=@Icons.Filled.Close OnClick=@ToggleOpen />
    </div>
    <MudGrid Class="pb-2">
        <MudItem sm=12 md=6>
            <MudCard Outlined=true>
                <MudCardContent Class="d-flex flex-column justify-center">
                    <MudPaper Class="d-flex pa-21 justify-center" Elevation=0 Width="100%">
                        <MudText Typo=Typo.body2>@Calendar.Month (@Calendar.MonthNr)</MudText>
                    </MudPaper>
                    <MudPaper Class="d-flex justify-center align-center mx-auto pa-10 mud-theme-primary" Width="64px" Height="64px">
                        <MudIconButton OnClick=@Calendar.GotoYesterday Icon=@Icons.Material.Sharp.ArrowBackIos />
                        <MudText Class="px-5" Typo=Typo.h3>@Calendar.DayOfMonth</MudText>
                        <MudIconButton OnClick=@Calendar.GotoTomorrow Icon=@Icons.Material.Sharp.ArrowForwardIos />
                    </MudPaper>
                    <MudPaper Class="d-flex pa-2 justify-center" Elevation=0 Width="100%">
                        <MudText Typo=Typo.body2>@Calendar.Weekday</MudText>
                    </MudPaper>
                    <MudPaper Class="d-flex pa-2 justify-center" Elevation=0 Width="100%">
                        <MudText Typo=Typo.body2>@Calendar.Year @Calendar.Reckoning</MudText>
                    </MudPaper>
                </MudCardContent>
                <MudCardActions Class="d-block">
                    <MudButton OnClick=@SetDate Variant=@ButtonVariant Color=Color.Primary>@BtnLabelSetDate</MudButton>
                    <MudInput T=string Mask=@(new RegexMask(CalendarViMo.DateRegex)) @bind-Value=dateInputStr
                        Placeholder=@l10n["txtDateFormatPlaceholder"] Class=@DateOpenClass />
                    <MudButton OnClick=@Calendar.GotoEarthDate  Variant=Variant.Text>@l10n["btnSetEarthDate"]</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem sm=12 md=6>
            <MudPaper Elevation=0 Outlined=true Class="d-flex flex-nowrap">
            <MudSimpleTable Elevation=0>
                <tbody>
                <tr>
                    <td><MudIcon Icon=@Calendar.SeasonIcon Title=@Calendar.Season /> </td>
                    <td>@l10n["lblSeason"]</td>
                    <td width="200px">@Calendar.Season</td>
                </tr>
                <tr>
                    <td><MudIcon Icon=@Calendar.MoonPhaseIcon Title=@Calendar.MoonPhaseName /> </td>
                    <td>@l10n["lblMoonPhase"]</td>
                    <td>@Calendar.MoonPhaseName</td>
                </tr>
                <tr>
                    <td>
                        <MudIcon Icon=@Icons.Material.Sharp.CalendarToday Title="Regular day" /> 
                    </td>
                    <td>@l10n["lblHoliday"]</td>
                    <td></td>
                </tr>
                @foreach(var h in Calendar.GetHolidays())
                {
                <tr>
                    <td colspan="3">
                        <MudTooltip>
                            <ChildContent>
                                <div class="d-flex flex-row flex-grow-1">
                                <MudText Typo=Typo.body2>@h.Item1</MudText>
                                <MudIcon Icon=@Icons.Filled.Info Color=Color.Info style="z-index:1303;"/>
                                </div>
                            </ChildContent>
                            <TooltipContent >
                                <MudText Typo=Typo.body2>@h.Item2</MudText>
                            </TooltipContent>
                        </MudTooltip>
@*                        @if (!string.IsNullOrWhiteSpace(h.Item2))
                        {
                        }
*@                    </td>
                </tr>
                }
                </tbody>
            </MudSimpleTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <div class="d-flex flex-column">

    </div>
</MudPopover>

@code {
    private CalendarViMo Calendar { get; set; }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Calendar = new(GameData.Calendar, CurrentDate);
        BtnLabelSetDate = l10n[BtnLabelSetDateSet];
    }


    // POPOVER
    #region POPOVER
    public bool IsPopupOpen;

    public void ToggleOpen()
    {
        if (IsPopupOpen)
            IsPopupOpen = false;
        else
            IsPopupOpen = true;
    }



    // SET DATE Button
    private const string BtnLabelSetDateSet = "btnSetDate";
    private const string BtnLabelSetDateConfirm = "btnSetDateConfirm";
    private string BtnLabelSetDate { get; set; }
    private string DateOpenClass => SetDateOpen ? "" : "d-none";
    private Variant ButtonVariant = Variant.Text;
    //
    private bool SetDateOpen = false;
    private string dateInputStr = string.Empty;


    /// <summary>
    /// Respond to abstract click of the Modify Date button
    /// </summary>
    private void SetDate()
    {
        if (!SetDateOpen)
        {
            dateInputStr = $"{Calendar?.DayOfMonth}. {Calendar?.Month} {Calendar?.Year} BF";
            SetDateOpen = true;
            BtnLabelSetDate = l10n[BtnLabelSetDateConfirm];
            ButtonVariant = Variant.Filled;
        }
        else
        {
            DateTime ParseSuccess = DateTime.MinValue;
            if (!string.IsNullOrWhiteSpace(dateInputStr))
            {
                try
                {
                    ParseSuccess = Calendar.Parse(dateInputStr);
                }
                catch (Exception) { };
            }
            if (ParseSuccess != DateTime.MinValue)
            {
                Calendar.GotoDate(ParseSuccess);
                SetDateOpen = false;
                BtnLabelSetDate = l10n[BtnLabelSetDateSet];
                ButtonVariant = Variant.Text;
            }
        }
}

    #endregion



    // RENDERING
    #region RENDERING

    RenderFragment<CalendarViMo> RenderShortDate = Value => __builder =>
    {
    <span>@Value.DateToString('x')</span>
    };

    private string LongDate => Calendar?.DateToString('D') ?? "";


    #endregion
}
