@using FateExplorer.WPA.RollLogic

@inject IStringLocalizer<App> l10n


<MudCard Elevation=2 Class="pa-1 ma-1">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Info">@(MakeAvatar())</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@Name</MudText>
            <MudText Typo="Typo.body2">@RollResult.RollIdString()</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            @if (CanClose)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" />
            }
        </CardHeaderActions>
    </MudCardHeader>

    <MudCardContent>
        <MudGrid Spacing=0 Class="my-1">
            @if (RollResult.SuccessLevel != RollSuccessLevel.na)
            {
            <MudItem xs="4">
                <p>@l10n[RollResult.SuccessLevel.ToString()]</p>
            </MudItem>
            }
            <MudItem xs="8">
                <MudSimpleTable Dense=true Hover=false Bordered=false Striped=false Elevation=0 >
                @* Style="overflow-x: auto;" *@
                <tbody>
                    <tr>
                        <td>@l10n["lblResultCardResult"]</td>
                        <td>@string.Join(" \u00B7 ", RollResult.RollResult)</td>
                    </tr>
                    @if (RollResult.RollResult.Length > 1)
                    {
                    <tr>
                        <td>@l10n["lblResultCardCombined"]</td>
                        <td>@RollResult.CombinedResult</td>
                    </tr>
                    }
                    @if (RollResult.Modifier != 0)
                    {
                    <tr>
                        <td>@l10n["lblResultCardModifier"]</td>
                        <td>@RollResult.Modifier</td>
                    </tr>
                    }
                </tbody>
            </MudSimpleTable>
            </MudItem>
        </MudGrid>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.body2"></MudText>
    </MudCardContent>
    @*<MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>*@
</MudCard>


@code {
    [Parameter]
    public string Name { get; set; } = "Roll";
    [Parameter]
    public bool CanClose { get; set; } = false;
    [Parameter]
    public RollResultViMo RollResult { get; set; }


    private RenderFragment MakeAvatar()
    {
        switch (RollResult.CupType)
        {
            case FreeDiceCupViMo.CupType.Single: return @<span>@RollResult.DieSides[0]</span>;
            case FreeDiceCupViMo.CupType.Multi:  return @<span>@RollResult.DieSides[0]</span>;
            case FreeDiceCupViMo.CupType.MixedMulti: return @<span>MIX</span>;
            default: return @<span>MIX</span>; //@(<MudIcon Icon=Icons.Material.Filled.FormatListNumbered />);
        }
    }
}
